In [1]:
from pre_process_gps import *
import pandas as pd
from sqlalchemy import Table, Column, MetaData, Integer, Computed, create_engine

Connect with the database

In [2]:
engine = create_engine('postgresql://dwaccount:password@127.0.0.1:5435/dwaccount')

Get initial data

In [3]:
#This is an example of retreiving original data from the database for one participant with the identifiers: 
# tablet_id = 5
tablet_id=5
participant_id=31

1. create a Hilbert index to each GPS point

In [4]:
#rasterize the data
Long_min,Long_max,Lat_min,Lat_max= lambert_to_gps(Lambert_Long_min, Lambert_Long_max, Lambert_Lat_min, Lambert_Lat_max)

In [5]:
#add three columns to the "tabletPositionApp" table
db = scoped_session(sessionmaker(bind=engine))
#db.execute('ALTER TABLE "tabletPositionApp" ADD COLUMN IF NOT EXISTS col_num int')
#db.execute('ALTER TABLE "tabletPositionApp" ADD COLUMN IF NOT EXISTS row_num int')
#db.execute('ALTER TABLE "tabletPositionApp" ADD COLUMN IF NOT EXISTS hilbert int')
db.execute('ALTER TABLE tabletPositionAppCopy ADD COLUMN IF NOT EXISTS col_num int')
db.execute('ALTER TABLE tabletPositionAppCopy ADD COLUMN IF NOT EXISTS row_num int')
db.execute('ALTER TABLE tabletPositionAppCopy ADD COLUMN IF NOT EXISTS hilbert int')
db.commit()
db.close()

In [6]:
original_data = pd.read_sql('SELECT * FROM tabletPositionAppCopy WHERE tablet_id = ' + str(tablet_id) + ' and hilbert is null LIMIT 3', engine)
original_data

,id,tablet_id,timestamp,lat,lon,col_num,row_num,hilbert
0,4795336,5,2019-11-01 23:18:03+00:00,47.165305,3.498325,None,None,None
1,4795337,5,2019-11-01 23:18:33+00:00,47.165395,3.498360,None,None,None
2,4795338,5,2019-11-01 23:19:03+00:00,47.165418,3.498385,None,None,None

In [7]:
#get the max id of the tabletPositionApp table
#max_id_df=pd.read_sql('select max(id) from "tabletPositionApp" WHERE tablet_id = ' + str(tablet_id) + ' LIMIT 1000',engine)
#max_id=max_id_df['max'][0]
#max_id
max_id = original_data["id"].max()
max_id

4795338

# create a hilbert index to each point and store the data into the same table
id=0
while (id < max_id):
        # RECUPERATION DE TOUTE LES DONNEES
    tablet_position_df=pd.read_sql('select * from tabletPositionAppCopy WHERE tablet_id = ' + str(tablet_id) + ' and hilbert is null and id>'+str(id)+' limit 3',engine)#read 1000 rows from postgres and put the result in pandas dataframe
    tablet_position_df=add_hilbert_index(tablet_position_df,Long_min, Long_max, Lat_min, Lat_max,nb_c,nb_r,dimensions,iterations)#apply the hilbert function on this pandas dataframe
    db = scoped_session(sessionmaker(bind=engine))
    #loop to update the postgres table by adding the col_num, row-num and hilbert according to the id of the tabletPositionApp table
    for index, row in tablet_position_df.iterrows():
        db.execute('UPDATE tabletPositionAppCopy SET col_num='+str(row['col_num'])+', row_num='+str(row['row_num'])+', hilbert='+str(row['hilbert'])+' WHERE id='+str(row['id']))
        #print("index: " + str(index) + "\n")
    db.commit()
    db.close()
    #print("---------id:" + str(id) +"\n")
    id=tablet_position_df['id'].max()+1#start the new while loop by taking the next row after the last taking row

2 - Clean GPS

In [10]:
clean_gps(participant_virtual_id=participant_id, used_engine=engine)

#########END##########

In [11]:
# Creation table clean_gps_with_activities

clean_gps_with_activities = pd.read_sql(''' select r1.*, r2.activity
from
(select *
from clean_gps) as r1
left join
(select T."timestamp"::timestamp AS "time",
 T."activity", 
lead(T."timestamp"::timestamp) over (order by T.id, T."timestamp"::timestamp asc) as next_row, 
	K."id" as "kit_id", P."id" as "participant_id", 
    P."participant_virtual_id" as "participant_virtual_id"
from "tablet" B,"tabletActivityApp" T,"campaignParticipantKit" C,"kit" K,"participant" P
where T."tablet_id"=K."tablet_id"
and K."id"=C."kit_id"
and C."participant_id"=P."id"
and T."timestamp"::timestamp
between C."start_date"::timestamp and C."end_date"::timestamp
and T."tablet_id"=B."id"
) as r2
on r1.participant_virtual_id = r2.participant_virtual_id
and date_trunc('minute',r1."time") between date_trunc('minute',r2."time") and date_trunc('minute',r2.next_row - interval '1 sec')
''' ,engine)

In [ ]:
clean_gps_with_activities.head(20)