In [2]:
from preprocessing import *
import pandas as pd
from sqlalchemy import Table, Column, MetaData, Integer, Computed

Connect with the database

In [3]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://dwaccount:password@127.0.0.1:5435/dwaccount')

In [4]:
#This is an example of retreiving original data from the database for one participant with the identifiers: 
participant_virtual_id=9999941

In [5]:
original_data = pd.read_sql('SELECT * FROM clean_gps  LIMIT 3', engine)
data = original_data

In [6]:
data

  participant_virtual_id                time        lat       lon    hilbert
0                9999941 2019-12-12 20:24:12  48.755445  2.060165  3122171.0
1                9999941 2019-12-12 20:24:13  48.755445  2.060165  3122171.0
2                9999941 2019-12-12 20:24:14  48.755445  2.060165  3122171.0

Stop move detection

In [7]:
from stop_move_detection import *

# Hilbert stop detection

In [8]:
# Pour un seul participant sans passer par des fichiers csv:
data1, mixed1, moves = segmented_data(participant_virtual_id=9999916)

df_stops = data1[data1._stops_!=1]
df_stops=df_stops[['participant_virtual_id', 'time', 'activity', 'stops']]
df_stops.rename(columns={'stops': 'detected_label'},inplace=True)

In [21]:
df_stops

     participant_virtual_id                time  activity  detected_label
13                  9999941 2019-10-19 12:45:27       nan             9.0
14                  9999941 2019-10-19 12:51:09       nan             9.0
15                  9999941 2019-10-19 12:56:17       nan             9.0
16                  9999941 2019-10-19 13:01:26       nan             9.0
17                  9999941 2019-10-19 13:06:37       nan             9.0
...                     ...                 ...       ...             ...
4524                9999941 2019-12-19 08:56:16  Domicile             1.0
4525                9999941 2019-12-19 09:06:16       nan             1.0
4526                9999941 2019-12-19 09:11:16       nan             1.0
4527                9999941 2019-12-19 09:16:16       nan             3.0
4528                9999941 2019-12-19 09:21:16       nan             3.0

[4098 rows x 4 columns]

# Move detection with Trajlib

In [10]:
data2 = original_data
print('Processing participant_virtual_id : %s'%participant_virtual_id)
    
features_set = get_features(df = moves, participant_virtual_id=participant_virtual_id)
    
data2 = pd.concat([data2, features_set])

Processing participant_virtual_id : 9999941
loading...
lat
lon
None
time
['target']
~/gps_fe/bigdata2_8696/ex_traj/5428_walk_790.csv
,
Data loaded.
301
clear memory

In [31]:
data_ft = data2[important_features]
X = data_ft.drop(['time', 'userId','target'], axis=1)
X = np.nan_to_num(X) # Replace NaN with zero and infinity with large finite numbers 

y_pred=loaded_RF.predict(X)

data_ft['pred']=y_pred
df_moves = data_ft[['time', 'userId','target', 'pred']]

df_moves

                   time   userId   target  pred
0   2019-12-12 20:24:12      NaN      NaN     9
1   2019-12-12 20:24:13      NaN      NaN     9
2   2019-12-12 20:24:14      NaN      NaN     9
0   2019-10-19 11:43:21  9999941      nan     9
1   2019-10-19 11:48:47  9999941      nan     9
..                  ...      ...      ...   ...
390 2019-12-16 20:06:47  9999941      Rue     9
391 2019-12-16 20:11:47  9999941      Rue     9
392 2019-12-17 19:11:52  9999941      nan     9
393 2019-12-18 19:32:49  9999941  Voiture     9
394 2019-12-18 19:37:49  9999941  Voiture     9

[398 rows x 4 columns]

In [27]:
df = pd.concat([df_stops,df_moves])
df.sort_values(['participant_virtual_id', 'time'],inplace=True)
df

,participant_virtual_id,time,activity,detected_label,userId,target,pred
13,9999941,2019-10-19 12:45:27,nan,9.0,NaN,NaN,NaN
14,9999941,2019-10-19 12:51:09,nan,9.0,NaN,NaN,NaN
15,9999941,2019-10-19 12:56:17,nan,9.0,NaN,NaN,NaN
16,9999941,2019-10-19 13:01:26,nan,9.0,NaN,NaN,NaN
17,9999941,2019-10-19 13:06:37,nan,9.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
390,NaN,2019-12-16 20:06:47,NaN,NaN,9999941,Rue,9.0
391,NaN,2019-12-16 20:11:47,NaN,NaN,9999941,Rue,9.0
392,NaN,2019-12-17 19:11:52,NaN,NaN,9999941,nan,9.0
393,NaN,2019-12-18 19:32:49,NaN,NaN,9999941,Voiture,9.0
394,NaN,2019-12-18 19:37:49,NaN,NaN,9999941,Voiture,9.0